html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


.App {
  height: 100vh;
  background: lightgray; 
  opacity: 0;
  animation-delay: 0s;
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: fadeInOpacity;
}
.container {
  opacity: 0;
  display: flex; /* or inline-flex */
  flex-flow: row wrap;
  justify-content: center; 
  align-items: center; 
  padding: 2rem; 

  animation-delay: 0s;
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: fadeInOpacity;
}
li.frame {  
  opacity: 0;
  background: #fff; 
  border: #000 solid 4px; 
  margin: 0.3rem; 

  animation-delay: 0s;
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-name: fadeInOpacity;
}
.photo {
  visibility: hidden; 
  opacity: 0;
  max-width: 70px;
  height: auto;
  margin: 0.3rem; 

  animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: fadeInOpacity;
}
img[class*="img"] {
  visibility: visible; 
  border: #fff solid 20px; 
}
.img-0 {
  animation-delay: .6s;
}
.img-1 {
  animation-delay: .9s;
}
.img-2 {
  animation-delay: 1.2s;
}
.img-3 {
  animation-delay: 1.5s;
}
.img-4 {
  animation-delay: 1.8s;
}
.img-5 {
  animation-delay: 2.1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}